main {
	background-color: #ffffff;
}

body {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	overflow-x: hidden;
	box-sizing: border-box;
}
a {
	text-decoration: none !important;
}
a.card {
	color: #000000 !important;
}

.button-transparent-bg {
	text-align: center;
	width: 186px;
	height: 28px;
	line-height: 114.97%;
	letter-spacing: -0.02em;
	color: #ff1695;
	background: transparent;
	border-radius: 10px;
	border: 1px solid #ff1695;
}
.custom-container {
	background-image: url(./image/imageBackground.jpg);
	height: 397px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.carousel-container {
	padding: 5rem;
	width: 100%;
	margin: 0 auto;
}
.electricCarousel .card img {
	width: 100%;
}
.line {
	border-bottom: 1px solid black; /* Параметры линии */
}
.button-entrance {
	border: none;
}

.funk-house {
	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 114.97%;
	letter-spacing: -0.07em;
	color: #ffffff;
}
.mini-text-transparent {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.045em;
	text-align: left;
	letter-spacing: -0.045em;
	color: rgba(255, 255, 255, 0.8);
	background: transparent;
}
.headerEvents {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/* identical to box height */

	letter-spacing: -0.065em;

	color: #000000;
}

.slick-prev:before,
.slick-next:before {
	color: black !important;
}
.row {
	display: flex;
	justify-content: space-between;
}
.card-header-custom {
	position: relative;
}
.price-container {
	position: absolute;
	padding: 2px;
	left: 15px;
	bottom: 15px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 114.97%;
	background: #ff1695;
	color: #000000;
}
@media (max-width: 650px) {
	.funk-house {
		font-size: 60px;
	}
	.carousel-container {
		padding: 2rem;
	}
}
.subscribe {
	color: #ffffff;
	background-color: #ff1695;
	border: none;
	border-radius: 4px;
}
